# Fortnite mesh network metadata Url
MeshNetworkMetadataURL=https://mesh-public-service-live.ol.epicgames.com/mesh/Fortnite/{0}/metadata
# Mesh network identifier for retreiveing the metadata from the mesh
MeshNetworkIdentifier=Fortnite.Hera_Terrain.51188288
# What events in the metadata should we report on?
MeshEventsToTrack=MeshNetworkedEvent.Clash.FactionA,MeshNetworkedEvent.Clash.FactionB,MeshNetworkedEvent.FactionDuelVictory
# The real understandable name of the mesh event, In this case we're tracking the current number of rivalry points-
# -for each team, so we put the team names.
MeshEventTrackNameToRealName=MeshNetworkedEvent.Clash.FactionA:Team Foundation,MeshNetworkedEvent.Clash.FactionB:Team Ice King
# The colors for each events embed for Discord
MeshEventTrackNameToColor=MeshNetworkedEvent.Clash.FactionA:16761344,MeshNetworkedEvent.Clash.FactionB:5814783
# Event Milestone Tracking
# Milestones for the current value to reach (estimated through prometheus querys, currently we set it to all of the Fortnite rivalries milestones, but it can be anything)
MeshEventMilestones=115000000,330000000,470000000,610000000,780000000,810000000,980000000,1150000000,1320000000,1350000000,1520000000,1690000000

# Discord webhook to send reports
DiscordWebhook=Redacted
# Discord role to ping when one or more events complete
PingRoleId=Redacted

# Prometheus API - For returning an ETA on event completion
PrometheusAPIURL=http://SERVER_IP:SERVER_PORT/